.app-menu{
    position: fixed;
    left:0px;
    top:26px;
    height: calc(100% - 26px);
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 90%;
    z-index: 999999999;
    --app-cursor-default: url("../icons/Suru/Suru/48x48/devices/normal-select.svg");
    cursor: var(--app-cursor-default),auto;
}

.app-menu-container{
    position: fixed;
    top: 206px;
    left: 120px;
    width: calc(100% - 160px);
    height: calc(100% - 246px);
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app-menu-container-wallpaper{
    position: fixed;
    top: 98px;
    left: calc(50% - 40px);
    height: 90px;
    width: 160px;
    box-shadow: 0px 0px 10px #220022;
}

.app-menu-app {
    width: 110px;
    height: 110px;
    margin: 3px;
    border-radius: 10px;
    --app-cursor-default: url("../icons/Suru/Suru/48x48/devices/normal-select.svg");
    cursor: var(--app-cursor-default),auto;
}

.app-menu-app:hover{
    background: #ffffff33;
    transition-duration: 0.2s;
    transform: translate(0px,12px);
}

.app-menu-app-image {
    width: 100px;
    height: 100px;
    transform: translate(8px,8px);
}