.dock{
    position: fixed;
    top:150px;
    left: 0px;
    background: #11111166;
    width: 70px;
    z-index: 99999999999999999999999999999999999999999;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0px 30px 30px 0px;
    --app-cursor-default: url("../icons/Suru/Suru/48x48/devices/normal-select.svg");
    cursor: var(--app-cursor-default),auto;
}

.dock-app-container{
    height: 58px;
    width: 58px;
    transition-duration: 0.2s;
    transform: translate(6px, 6px);
    border-radius: 6px;
    padding-bottom: 6px;
    
}

.dock-app-container:hover{
    background: #ffffff33;
    transition-duration: 0.2s;
    border-radius: 10px;
    transform: translate(11px,11px);
}

.dock-app{
    height: 40px;
    width: 40px;
    transform: translate(10px, 10px);
}

.dock-app-active{
    position: absolute;
    height: 8px;
    width: 8px;
    background: #0b89f8;
    border-radius: 50%;
    transform: translate(1px,30px);
}

.dock-app-menu{
    bottom: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    background: #11111166;
    z-index: 99999999999999999999999999999999999999999;
}

.dock-app-menu-icon{
    filter: brightness(2);
    height: 60px;
    width: 60px;
    position: absolute;
    left:8px;
    border-radius: 5px;
    transition-duration: 0.2s;
}

.dock-app-menu-icon:hover{
    background: #222222;
    transition-duration: 0.2s;
    border-radius: 10px;
}