body{
    background: #222222;
    --app-cursor-default: url("/icons/Suru/Suru/48x48/devices/normal-select.svg");
    cursor: var(--app-cursor-default),auto;
}

.image{
    filter: brightness(2);
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%,0px);
    height: 15vh;
}

.label{
    position: fixed;
    color: #ffffff;
    top: 52%;
    left: 50%;
    transform: translate(-50%,0px);
}